= render partial: "partials/pipeline_description", 
  locals: {pipeline: @pipeline, type: :versions}

%ul.versions
  - @pipeline.versions.each do |version|
    - log = version.git_log
    %li.version
      %h2.name= version.name
      = render partial: "partials/git_log_stats", locals: {log: log, linker: @linker}

      - if version.pending_changes?
        = render partial: "partials/git_commits", locals: {log: log, linker: @linker}
        - if log.more_commits?
          %p.more-git-commits ...
      - else
        %p.no-pending-changes No changes.
