.versions { 
  padding: 0; 
  margin: 0 0 30px;
}

.version {
  list-style-type: none;
  background: transparent;
  padding: 15px 0;
  margin-bottom: 15px;
}

.version > .name {
  float: left;
  margin: 0 0 15px 0;
  padding: 7px 10px;
  background: #000;
  border-radius: 15px;
  font-size: 15px;
  font-weight: normal;
  color: #fff;
}

.version .more-git-commits,
.version .not-available-git-commits,
.version .no-pending-changes {
  margin-bottom: 0;
  color: #ccc;
}

.version .hidden-git-submodule-changes {
  margin-bottom: 0;
  color: #ccc;
}
